@import './utils/variables';
@import './utils/reset';
@import './utils/mixins';
@import './base/common';
@import './utils/hidden';
@import './components/container';

@import './layouts/header';
@import './layouts/menu-modal';
@import './layouts/hero';
@import './layouts/advantages';
@import './layouts/works';
@import './layouts/team';
@import './layouts/regular-customers';
@import './layouts/footer';
@import './layouts/portfolio';
@import './layouts/filter';
@import './layouts/gallery';

@import './layouts/modal';
@import './layouts/modal-form';
@import './layouts/modal-form-checkbox';
@import './layouts/modal-form-button';

