:root {
    --main-title-color: #212121;
    --main-text-color: #757575;
    --main-accent-color: #ffffff;
    --main-focus-color: #2196F3;
    --main-foun-color: #000000;
    --main-icon-color: #AFB1B8;

}