.footer {

    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;   
}

.footer .container {
    display: flex;
    gap: 60px;

    flex-wrap: wrap;
    justify-content: center;
    
    @include tablet {
        justify-content: space-between;
        padding-left: 71px;
        padding-right: 74px;
    };

    @include desktop{
        flex-wrap: nowrap;
        justify-content: center;
        padding-left: 15px;
        padding-right: 15px;

    }
    
}

.footer-container-element {
    display: flex;
    flex-direction: column;
    text-align: center;

    @include desktop {
        text-align: start;
    }
}

.footer-logo {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-accent-color);
}

.footer-soc-item {
    display: flex;
    gap: 30px;
    justify-content: center;
}



.footer-contact {
    width: 231px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    margin-top: 20px;
}


.footer-text {
    color: var(--main-accent-color);
}

.footer-link {
    display: inline-block;
    margin-top: 9px;
    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--main-focus-color);
    };
}


.footer-soc-container {
    text-align: left;
    padding-top: 12px;
    text-align: center;

    @include desktop{
        text-align: start;
    }
}


.footer-soc-title {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--main-accent-color);
    margin-bottom: 20px;
}


.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.footer-soc-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon {
    fill: var(--main-accent-color);
}

.footer-soc-link:hover {
    background-color: var(--main-focus-color);
}

.subscribe {
    // min-width: 480px;
    width: 100%;
    
    padding-top: 12px;
    text-align: center;

    @include mobile {
        min-width: 480px;
    };

    @include tablet {
        min-width: 580px;
    };

    @include desktop {
        text-align: start;
        margin-left: 23px;
    }
}

.subscribe-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;

    margin-bottom: 20px;
}
 
.place-in {
    width: 100%;
    display: flex;
    justify-content: center;

    @include tablet {
        width: 358px;
    } 
} 

.sub-place-in {
    display: flex;
    gap: 20px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
 

    @include desktop {
<<<<<<< HEAD
        flex-direction: row;
=======
>>>>>>> 0f579d768157c7bd5523bc7c071828355a71fccc
        justify-content: flex-start;
        gap: 12px;
    }
}

.sub-input-email {
    width: 90%;
    height: 50px;

    @include mobile {
        min-width: 450px;
    }

    @include desktop {
            min-width: 358px;
        }

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: transparent;
    padding-left: 10px;
    color: var(--main-accent-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
            color: var(--main-accent-color);
        };
    
    &:hover,
    &:focus {
        border: 1px solid white;

    };

}


.sub-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    min-width: 200px;
    height: 50px;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
    border: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:active {
            background: #7da7ca;
        };
    &:hover,
    &:focus {
        border: 1px solid white;

    };
}




.icon-teleg {
    /* display: inline-block; */
    fill: #EEEEEE;
}
