.gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    justify-content: center;
    @include tablet {
        justify-content: flex-start;
    }
}

.gallery-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
}

.gallery-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.container-gallery-item {
    padding: 20px 24px;

}

.gallery-item {
    
    border: 1px solid #EEEEEE;
    max-width: 450px;
    width: 450px;

    &:hover,
    &:focus {
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    };

    @include tablet {
        width: 354px;
        
    };
    @include desktop {
        width: 370px;
    }

}


.gallery-item:hover .gallery-overlay-dascription,
.gallery-item:focus .gallery-overlay-dascription {
    transform: translateY(0);
    opacity: 1;
    z-index: 2;

}

.gallery-overlay {
    position: relative;
    overflow: hidden;


}

.gallery-overlay-dascription {
    display: inline-block;
    content: '';

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;

    letter-spacing: 0.03em;

    color: #FFFFFF;

    opacity: 0;
    /* pointer-events: none; */
    z-index: 1;

    transform: translateY(100%);

    transition-duration: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;

    /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.description {
    position: absolute;
    top: 63px;
    left: 24px;
    right: 24px;
}