.works {
    padding-bottom: 94px;
}

.works-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    margin-bottom: 50px;
}

.works-list {
    display: flex;
    gap: 30px;
}

.works-item {}

.works-overlay {
    position: relative;
    display: flex;
    /* 
    outline: 1px solid tomato; */
    /* bottom: 0;
    left: 0;

    */
}

.works-overlay-p {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}

.works-overlay-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;

}